h3 {
    color: #591f1f;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}
h2 {
        color: #591f1f;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em; 
}
h4 {
        color: #591f1f;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #591f1f;
}
title {
    font-family: 'Arial', sans-serif;
    color: #442020;
}
p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #582626;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
}
video {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border: 3px solid #591f1f;
    border-radius: 10px;
}
h5 {
        color: #591f1f;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em; 
}
p {
    font-size: 1.4em;
    line-height: 1.6;
    color: #562525;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
}
a {    font-size: 1.4em;
    line-height: 1.6;
    color: #562525;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;

}
body {
    background-color: #f9f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
}
